body {
  background-color: #f0ece2;
}

.welcome {
  margin-top: 50px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.navigation a {
  font-size: 24px;
  color: #5f4949;
}

.body {
  padding: 10px 50px;
}

.contact-header {
  margin-top: 50px;
}

.contact-info {
  text-align: center;
  font-size: 20px;
}

h1 {
  text-align: center;
  color: #5f4949;
  font-size: 48px;
  margin-top: 5px;
}

img {
  max-width: 75%;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}
